body {
  /* margin: 0; */
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: azure;
}
.common-section {
  display: flex;
  justify-content: center;
}
.navbar {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
/* Main section */
.main-section {
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.list-section {
  list-style-type: none;
}
.list-section a {
  text-decoration: none;
}
/* Hover effect */
.navbar :hover {
  color: tomato;
  text-decoration: underline;
}
/* Footer section */
/* Sakib image */
.sakib-image {
  width: 200px;
  border-radius: 100%;
}
